* {
    box-sizing: border-box;
}

body {
    font-family: 'Slabo 27px', serif;
    background-image: url("./pattern.jpg");
    margin: 0;
    padding: 0;
    

}

h1 {
    color: black;
    text-align: center;
    font-size: 24px;
}

header {
    background-color: white;
    height: 55px;
    position: sticky;
    top: 0; 
}

header img {
    float: left;   
}

nav {
    float: right;    
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
nav a {
    font-size: 18px;
    text-decoration: none;
    color: blue;    
}

nav a:hover {
    font-weight: bold;
}

section {
    background-color: white;
    min-height: 580px;
    padding: 20px;
    width: 70%;
    margin: 10px auto 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
   
}

#article-list a{
    text-decoration: none; 
}

#article-list p {
    padding: 2px;
    border-bottom : 1px solid black ;
}

ol {
    margin-top: 40px;
}

th {
    text-align: left;
}

button {
    position: absolute;
    bottom: 60px;
    left: 197px;
    text-decoration: none;
    width: 150px;
    height: 40px;
    background-color: #0a2d47;
    border-radius: 5px;
    margin-right: 20px;
    border: 0;
    padding: 0;
    box-shadow:1px 1px 3px 1px #f0f0f0;
}

button a {
    text-decoration: none;
    color: white;
}

footer {
    height: 50px;
    display: flex;
    background-color: black;
    color: white;    
}

.about, .contact {
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer h5 {
    margin: auto;
}